
.contact-list {
  height: calc(100vh - #{$search-bar-height});
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;

  .contact {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: $padding;

    span {
      padding-left: 10px;
    }

    &.active {
      background-color: lighten($brand-primary, 55%);
    }
  }

  .heading {
    padding: $padding;
    color: $brand-primary;
    background-color: $brand-off-white;
    border-bottom: 3px solid lighten($brand-light-gray, 2%);
    font-size: 1.5em;
  }
}

.search-bar {
  width: 100%;

  input {
    width: 100%;
    height: $search-bar-height;

    line-height: $search-bar-height;
    padding-left: $padding;
    outline: none;
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid $brand-primary;
  }
}
